@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Regular.eot");
  src: url("../fonts/Gilroy-Regular.ttf");
  src: url("../fonts/Gilroy-Regular.woff");
  font-weight: normal;
  font-style: normal;
}
body {
  background: #f9f9f9;
}

.wrapper {
  font-size: 1rem;
  min-height: 100vh;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  font-family: "Gilroy", "sans-serif";
  display: grid;
  grid-template: minmax(90px, auto) 1fr minmax(100px, auto) / 1fr;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

header {
  grid-area: header;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}

.background {
  background-image: url(../images/bgc.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.header {
  grid-area: header;
  grid-template-columns: minmax(auto, 1fr) minmax(auto, 8fr) minmax(auto, 1fr);
  display: grid;
  grid-auto-rows: auto;
  margin-top: 20px;
}

.header__nav {
  display: grid;
  grid-column: 2 / 3;
}

.header__list {
  display: grid;
  grid-auto-flow: row;
  grid-auto-flow: column;
  align-items: center;
  justify-items: center;
}

.header__link {
  color: white;
  text-decoration: none;
}

.header__list-search {
  vertical-align: center;
  margin-bottom: 7px;
}

.header-img-heart {
  padding-left: 15px;
}

.header__logo-img {
  max-width: 100%;
  object-fit: cover;
}

.main {
  grid-area: main;
  min-height: 100vh;
  display: grid;
}

.main__title_subtitle {
  display: grid;
  margin-top: 50vh;
}

.main__title-box {
  display: grid;
  grid-template: repeat(3, minmax(60px, auto)) / 1fr;
  justify-items: center;
  align-content: end;
  border-bottom: 1px solid white;
  grid-row-gap: 1.2rem;
}

.main__title-1page {
  font-family: "Noto Serif", "sans-serif";
  font-size: calc(30px + (36 - 30) * ((100vw - 320px) / (1920 - 320)));
  color: white;
}

.main__title-button {
  text-decoration: none;
  color: white;
  border: 1px solid white;
  background-color: #333333;
  padding: 17px 35px 2px 35px;
  line-height: 24px;
  letter-spacing: 0.1em;
  vertical-align: center;
  margin: 0 auto;
  transition: 0.9s;
}

.main__title-button:hover {
  background: white;
  color: black;
  border: 1px solid #333333;
}

.main__subtitle {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(6, minmax(50px, auto));
  grid-template-rows: 1fr;
  margin-bottom: 15px;
}

.main_subtitle-img {
  max-width: 100%;
  border-right: 1px solid white;
  margin-top: 15px;
  padding: 0 10px;
}

.border-img {
  max-width: 100%;
  margin-top: 15px;
  padding: 0 10px;
}

.main__product {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 1em;
}

.main__product-width {
  display: grid;
  grid-template-columns: minmax(auto, 800px);
  grid-template-rows: repeat(3, minmax(auto-fill, 1fr));
  justify-content: center;
  background: #f9f9f9;
}

.main__product-title {
  display: grid;
  grid-template-rows: minmax(auto, 50px) minmax(auto, 50px);
  grid-column: 1fr;
  grid-gap: 15px;
  margin-top: 50px;
}

.product_title {
  font-weight: 400;
  font-size: 21px;
  text-align: center;
  align-self: end;
}

.product_title-sub {
  font-family: "Noto Serif", "sans-serif";
  font-size: 30px;
  font-weight: 700;
  text-align: center;
}

.burger-menu {
  display: none;
}

.burger-list {
  display: none;
}

.burger__nav {
  display: none;
}

.burger-logo-img {
  display: none;
}

.main__product-choice {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(2, minmax(auto-fill, 45px));
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  justify-content: center;
  grid-gap: 15px;
  text-align: center;
  align-items: center;
  margin: 40px 0 20px 0;
}

.product_item {
  border: 1px solid #d6d6d6;
  padding: 10px 0;
  box-shadow: 4px 4px 0 1px #f9f9f9, 4px 4px 0 1.7px #d6d6d6;
  text-decoration: none;
  color: black;
  font-weight: 500;
  font-size: 15px;
  font-family: "Gilroy", sans-serif;
  transition: 0.6s;
}

.product_item:hover {
  color: white;
  background-color: black;
  transform: scale(1.1);
  box-shadow: none;
  font-weight: 500;
  font-size: 15px;
}

.main__product-category {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
  grid-auto-flow: row;
  margin: 40px 0 80px 0;
  grid-gap: 20px;
}

.product__category-block-img {
  position: relative;
  padding: 0 0 85% 0;
}

.product__category-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  border-radius: 20px;
  transition: 0.8s;
}

.category_img-capture {
  position: absolute;
  text-align: center;
  z-index: 100;
  width: 100%;
  height: 100%;
  display: block;
  padding: 68% 0 0 0;
  text-decoration: none;
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 500;
  transition: 0.8s;
}

.category_img-capture:hover {
  transform: scale(1.1);
  font-size: 23px;
}

.product__category-img:hover {
  border-radius: 30%;
}

.main__background-black {
  background-image: url(../images/black-background.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  min-height: 60vh;
}

.main__article {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr, 1fr, 1fr;
  color: white;
  justify-content: center;
  justify-items: center;
  height: 80vh;
}

.main__article-title {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(auto, 1fr), minmax(auto, 1fr);
  justify-items: center;
  margin-top: 0px;
  align-self: end;
  grid-gap: 10px;
}

.article_title-h4 {
  font-size: 21px;
  font-weight: 400;
  line-height: 30px;
}

.article_title-h2 {
  font-size: 30px;
  font-weight: 700;
  font-family: "Noto Serif", "sans-serif";
  line-height: 40px;
}

.main__article-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  display: grid;
  grid-template-columns: 0.6fr 2fr 0.6fr;
  grid-auto-flow: row;
  justify-items: center;
  align-content: center;
}

.article_subtitle-text {
  grid-column: 2 / 3;
  text-align: center;
}

.main__article-button {
  align-items: start;
  display: grid;
}

.article_button-link {
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  color: black;
  background-color: white;
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid #333333;
  margin-top: 15px;
  padding: 13px 40px;
  letter-spacing: 0.1em;
  transition: 0.7s;
}

.article_button-link:hover {
  background: black;
  color: white;
  border: 1px solid white;
}

.main__gallery_advice {
  background: #f9f9f9;
  display: grid;
  grid-template-rows: minmax(200px, auto-fit), 1fr, minmax(100px, auto-fit);
  grid-template-columns: minmax(auto, 800px);
  justify-content: center;
  height: 65ch;
  margin: 0 1em;
}

.main__gallery_title {
  display: grid;
}
.gallery_title-h4 {
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  justify-self: center;
  align-self: end;
}
.gallery_title-h2 {
  font-size: 25px;
  font-family: "Noto Serif", sans-serif;
  text-align: center;
  align-self: end;
}

.main__gallery_items {
  display: grid;
  margin-top: 40px;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  grid-template-rows: 1fr;
  grid-auto-rows: 1fr;
  grid-auto-flow: row;
  grid-gap: 20px;
}

.main__gallery_item {
  position: relative;
  padding: 0 0 90% 0;
  transition: 0.5s;
}
.main__gallery_item:hover {
  transform: scale(1.1);
}
.main_gallery_item-img:hover {
  border-radius: 20%;
}

.main_gallery_item-a {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
  padding: 87% 0px 0 0px;
  text-align: center;
  display: block;
  text-decoration: none;
  color: white;
  line-height: 20px;
  letter-spacing: 1px;
  font-size: 18px;
  font-weight: 400;
}

.main_gallery_item-img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  object-fit: cover;
  z-index: -1;
  border-radius: 20px;
  transition: 0.5s;
}

.main__gallery_button {
  align-self: center;
  justify-self: center;
  margin: 50px 0;
}

.gallery_button-a {
  text-decoration: none;
  color: white;
  border: 1px solid white;
  background-color: #333333;
  padding: 10px 15px;
  line-height: 21px;
  letter-spacing: 0.1em;
  vertical-align: center;
  margin: 0 auto;
  font-size: 18px;
  text-transform: uppercase;
  transition: 0.8s;
}

.gallery_button-a:hover {
  background: #f9f9f9;
  color: black;
  border: 1px solid #333333;
  font-size: 18px;
}

.main__social {
  background: #f9f9f9;
  min-height: 100vh;
  display: grid;
  grid-template-columns: minmax(auto, 800px);
  grid-template-rows: minmax(auto-fit, 150px), 1fr;
  justify-content: center;
  margin: 0 1em;
}

.main__social_titles {
  display: grid;
  justify-content: center;
  margin-top: 30px;
}
.main__social-title {
  font-weight: 400;
  font-size: 21px;
  text-align: center;
  margin: 10px 0 30px 0;
}
.main__social-subtitle {
  font-size: 27px;
  font-weight: bold;
  font-family: "Noto Serif", sans-serif;
  margin: 0 0 40px 0;
}

.main__social_gallery {
  display: grid;
  grid-template-rows: repeat(auto, minmax(auto, 210px));
  grid-template-columns: repeat(4, minmax(auto, 250px));
  margin-bottom: 120px;
}

.social_gallery_item {
  position: relative;
  padding: 0 0 50% 0;
}

.social_gallery-img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.social-bigimg2 {
  grid-column: span 2;
  cursor: pointer;
}

.social-bigimg1 {
  grid-column: span 2;
  cursor: pointer;
}

.main__mail {
  min-height: 75vh;
  background-image: url(../images/black-background.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  grid-template-rows: 1fr 2fr;
}

.main__mail_title {
  color: white;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  display: grid;
  justify-items: center;
  align-items: end;
}

.main__mail_top-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  text-align: center;
}

.main__mail_bot-title {
  font-family: "Noto Serif", sans-serif;
  font-weight: 700;
  font-size: 27px;
  line-height: 40px;
}

.main__mail_send {
  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  display: grid;
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  grid-gap: 20px;
}

.main__mail_list {
  display: grid;
  grid-template-rows: 2fr;
  grid-template-columns: 1fr;
  margin-bottom: 20px;
}

.mail_item {
  padding: 15px 0;
}

.mail_link {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: 400;
}
.mail_bow-img {
  margin: -2px 15px;
}

.mail_form-box {
  margin-bottom: 22px;
  font-weight: 500;
  letter-spacing: 0.1em;
  box-shadow: 0px 0px 0 15px white, 0 0 0 30px black, 0 0 0 31px white;
  background-color: white;
  display: grid;
  grid-template-columns: minmax(110px, auto) minmax(100px, auto);
  grid-auto-rows: auto-fit;
}

.mail_form-input {
  margin-right: 10px;
  padding: 10px 0 10px 13px;
  border: 1px solid #d6d6d6;
  min-width: 190px;
  font-family: "Gilroy", sans-serif;
  text-transform: uppercase;
}

.mail_form-button {
  padding: 12px 30px;
  background-color: #333333;
  border: none;
  font-family: "Gilroy", sans-serif;
  text-transform: uppercase;
  color: white;
  cursor: pointer;
  transition: 0.8s;
  text-align: center;
}

.mail_form-input,
.mail_form-button:focus {
  outline: none;
}

.footer {
  grid-area: footer;
  background: #f9f9f9;
}

.footer__width {
  display: grid;
  grid-template-columns: minmax(auto, 1000px);
  justify-content: center;
  margin: 0 1em;
}

.footer__item {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.15fr 1fr;
}

.footer__category-items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  grid-auto-flow: row;
  margin: 80px 0;
  color: #333333;
}

.footer__category-title {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  border-bottom: 1px solid #333333;
  cursor: pointer;
}
.footer_title-link {
  text-decoration: none;
  color: #333;
}

.footer__category-links {
  margin-top: 30px;
  display: grid;
  font-size: 14px;
  font-weight: 400;
  font-family: "Gilroy", sans-serif;
  grid-auto-flow: row;
}

.footer-link {
  display: block;
  margin: 10px 0;
  text-decoration: none;
  color: #333333;
}

.footer-link > img {
  padding-right: 20px;
}

.footer__copy {
  display: grid;
  border-top: 1px solid #333;
  padding: 20px 0 20px 0;
  justify-content: space-between;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
}

.footer__copy-link {
  display: block;
  font-size: 14px;
  justify-content: space-between;
  text-decoration: none;
  color: #333333;
}

.link-start {
  justify-self: start;
}

.link-center {
  justify-self: center;
}

.link-end {
  justify-self: end;
}

/* ///////////--------MEDIA FOR-1080-PX--------//////////// */

@media (max-width: 1080px) and (orientation: landscape) {
  .burger_link img {
    margin: 0.5em 1em 0.5em 0;
    align-items: center;
  }

  .burger_link img {
    margin: 1em 1.3em 0 0;
  }

  .burger_items {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr repeat(4, minmax(auto, 0.1fr)) repeat(
        2,
        minmax(auto, 0.1fr)
      );
    grid-gap: 0.6em;
  }

  .burger_items li {
    padding: 0.5em 0;
  }

  /* /////////////// УБИРАЕМ HOVER /////////// */

  .main__gallery_item:not(.nohover) {
    transform: none;
  }
  .main_gallery_item-img:not(.nohover) {
    border-radius: 20px;
  }

  .main__title-button:not(.nohover) {
    all: none;
    background: #333;
    border: 1px solid white;
    color: white;
  }

  .product_item:not(.nohover) {
    color: #333;
    background: none;
    transform: scale(1);
    box-shadow: none;
    font-weight: 500;
    font-size: 0.9rem;
    box-shadow: 4px 4px 0 1px #f9f9f9, 4px 4px 0 1.7px #d6d6d6;
  }

  .category_img-capture:not(.nohover) {
    transform: none;
  }

  .product__category-img:not(.nohover) {
    border-radius: 20px;
  }

  .category_img-capture:hover {
    transform: none;
    font-size: 1.25em;
    transition: none;
  }

  .article_button-link:not(.nohover) {
    background: white;
    color: #333;
    border: 1px solid black;
  }

  .gallery_button-a:not(.nohover) {
    background: #333;
    color: white;
    font-size: 1rem;
    transition: none;
    border: none;
  }
}

@media screen and (max-width: 67.5em) {
  body.lock {
    overflow: hidden;
  }

  .header__link a {
    display: block;
    position: relative;
    z-index: -1;
  }
  .header__list-search {
    display: none;
  }

  .burger__nav.active {
    content: "";
    position: absolute;
    background-color: #333;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    color: white;
    display: grid;
    grid-template-columns: minmax(auto, 0.8fr);
    justify-content: center;
    position: fixed;
    overflow: auto;
  }

  .burger_items {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr repeat(4, minmax(auto, 0.09fr)) repeat(2,minmax(auto, 0.1fr));
  }

  .burger_link {
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
    display: block;
  }

  .burger_link img {
    margin: 0.7em 1.3em 0 0;
  }

  .burger_logo img {
    padding-top: 1.5em;
    max-width: 100%;
  }

  .border-li {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
  }

  .header__nav {
    display: none;
  }

  .header__list {
    display: grid;
    grid-template-columns: repeat(minmax(1, 375px));
    grid-template-rows: repeat(5, minmax(auto, 15vh));
    justify-items: start;
  }

  .burger-logo-img {
    max-width: 100%;
    display: block;
    grid-column: 2 / 3;
  }

  .header {
    display: grid;
    max-height: 60px;
    justify-items: center;
    align-items: end;
    grid-template-columns: minmax(auto, 0.2fr) minmax(auto, 1fr) minmax(
        auto,
        0.2fr
      );
  }

  .li-relative {
    grid-column: 1/2;
    padding: 1px 7px;
    width: 260px;
    height: 52px;
    padding: 5px 0 0 35px;
  }

  .burger-menu.active {
    z-index: 2;
    display: grid;
  }

  .burger-menu.active::after {
    transform: rotate(-45deg);
    top: 0px;
    transition: 0.5s;
  }

  .burger-menu.active::before {
    transform: rotate(45deg);
    top: 0px;
    transition: 0.5s;
  }

  .burger-menu.active span {
    transform: scale(0);
  }

  .burger-menu {
    display: block;
    position: relative;
    width: 40px;
    height: 40px;
    right: 0;
    top: 10px;
    transition: 1s;
    grid-column: 3/3;
    cursor: pointer;
  }

  .burger-menu::before,
  .burger-menu::after {
    content: " ";
    background-color: white;
    position: absolute;
    width: 100%;
    height: 3px;
    transition: 1s;
    display: block;
  }

  .burger-menu::before {
    top: -1em;
  }

  .burger-menu::after {
    top: 1em;
  }

  .burger-menu > span {
    content: "";
    position: absolute;
    background-color: white;
    left: 0;
    width: 100%;
    height: 3px;
  }

  .main__title_subtitle {
    display: grid;
    grid-template-columns: minmax(auto, 1080px);
    margin: 20em 0 270px 0;
    height: 5vh;
    justify-content: center;
  }

  .main__title-box {
    display: grid;
    grid-template: repeat(3, minmax(60px, auto)) / minmax(auto, 1080px);
    grid-row-gap: 15px;
    border-bottom: none;
    margin: 0 auto;
  }

  .main__title-1page {
    font-family: "Noto Serif", "sans-serif";
    font-size: calc(16px + (32 - 16) * ((100vw - 320) / (767 - 320)));
    color: white;
    padding: 10px 0 50px 0;
    font-weight: 700;
    text-align: center;
  }

  .main__title-button {
    text-decoration: none;
    color: white;
    border: 1px solid white;
    background-color: #333333;
    letter-spacing: 0.1em;
  }
  .background {
    background-image: url(../images/bgc.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    max-width: 100%;
  }

  .wrapper {
    margin: 0 auto;
    font-family: "Gilroy", "sans-serif";
    display: grid;
    grid-template: minmax(90px, auto) 1fr minmax(100px, auto) / minmax(
        auto,
        1fr
      );
    grid-template-areas:
      "header"
      "main"
      "footer";
  }

  .main__product-width {
    display: grid;
    grid-template-columns: minmax(auto, 50em);
    grid-template-rows: repeat(3, minmax(auto-fill, 1fr));

    background: #f9f9f9;
  }

  .main__product-title {
    display: grid;
    grid-template-rows: minmax(auto, 50px) minmax(auto, 50px);
    grid-column: 1fr;
    grid-gap: 15px;
    margin-top: 40px;
  }

  .product_title {
    font-weight: 400;
    font-size: 21px;
    text-align: center;
    align-self: end;
  }

  .product_title-sub {
    font-family: "Noto Serif", "sans-serif";
    font-size: 25px;
    font-weight: 700;
    text-align: center;
  }

  .main__subtitle {
    display: none;
  }

  .main__gallery_item:hover {
    transform: none;
  }

  .main_gallery_item-img:hover {
    border-radius: none;
  }

  .main__title-button:hover {
    all: none;
    background: #333;
    border: 1px solid white;
    color: white;
  }

  .product_item:hover {
    color: white;
    background-color: white;
    transform: none;
    box-shadow: none;
    font-weight: 500;
    font-size: 15px;
    transition: none;
  }
}

/* ///////////--------MEDIA FOR 784-PX--------//////////// */

@media screen and (max-width: 49em) {
  .main__mail {
    display: grid;
    grid-template-rows: 1fr 2fr;
    justify-items: center;
  }

  .main__mail_send {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
  }

  .main__mail_title {
    color: white;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: grid;
    justify-items: center;
    align-items: center;
  }
}

/*//////////////// MEDIA 640PX ////////////////*/
/*/////////////// MEDIA 640PX ////////////////*/
/*////////////// MEDIA 640PX ////////////////*/

@media (max-width: 40.0625em) {
  .background {
    background-image: url(../images/bgc.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    max-width: 100%;
    max-height: 85vh;
  }

  .main__title_subtitle {
    display: grid;
    margin-top: 35vh;
  }

  .main__title-box {
    display: grid;
    grid-template: repeat(2, minmax(60px, auto)) / 1fr;
    justify-items: center;
    align-content: end;
    grid-row-gap: 1em;
  }

  .main__title-1page {
    font-family: "Noto Serif", "sans-serif";
    font-size: calc(30px + (36 - 30) * ((100vw - 320px) / (1920 - 320)));
    color: white;
  }

  .main__title-button {
    text-decoration: none;
    color: white;
    border: 1px solid white;
    background-color: #333333;
    line-height: 24px;
    letter-spacing: 0.1em;
    vertical-align: center;
    margin: 0 auto;
    transition: none;
  }

  .main__title-button:hover {
    background: none;
    color: black;
    border: 1px solid #333333;
  }

  /* MAIN PRODUCT CHOISE */

  .main__product-width {
    display: grid;
    grid-template-columns: minmax(auto-fit, 1fr);
    grid-template-rows: repeat(3, minmax(auto-fill, 1fr));
    justify-content: center;
    background: #f9f9f9;
  }

  .main__product {
    max-width: 35em;
    margin: 0 auto;
    padding: 0 1em;
  }

  .main__product-title {
    display: grid;
    grid-template-rows: minmax(auto, 40px) minmax(auto, 40px);
    grid-column: 1fr;
    grid-gap: 15px;
    margin-top: 1em;
  }

  .product_title {
    font-weight: 400;
    font-size: 1em;
    text-align: center;
    align-self: end;
  }

  .product_title-sub {
    font-family: "Noto Serif", "sans-serif";
    font-size: 1.1em;
    font-weight: 600;
    text-align: center;
  }

  .main__product-choice {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(2, minmax(auto-fill, 45px));
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    justify-content: center;
    grid-gap: 15px;
    text-align: center;
    align-items: center;
    margin: 1em 0 1em 0;
  }

  .product_item {
    border: 1px solid #d6d6d6;
    padding: 0.5em 0;
    box-shadow: 4px 4px 0 1px #f9f9f9, 4px 4px 0 1.7px #d6d6d6;
    text-decoration: none;
    color: black;
    font-size: 0.7rem;
    font-family: "Gilroy", sans-serif;
    transform: none;
    transition: none;
  }

  .main__product-category {
    display: grid;
    grid-template-columns: repeat(3, minmax(120px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(auto, 1fr));
    margin: 1.5em 0 3em 0;
    grid-gap: 20px;
  }

  .main__gallery_items {
    grid-template-columns: minmax(1fr);
    grid-auto-flow: row;
    min-height: 100%;
  }

  .category_img-capture {
    position: absolute;
    text-align: center;
    z-index: 100;
    width: 100%;
    height: 100%;
    display: block;
    padding: 68% 0 0 0;
    text-decoration: none;
    color: white;
    font-size: 0.9rem;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 500;
  }

  /* НАШИ САЛОНЫ В МОСКВЕ */

  .main__background-black {
    background-image: url(../images/black-background.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    min-height: 60vh;
    margin: 0 auto;
  }

  .main__article {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 0.9fr;
    color: white;
    justify-content: center;
    justify-items: center;
    height: 50vh;
    margin: 1.5em 0 0 0;
  }

  .article_title-h4 {
    font-size: 0.9em;
    font-weight: 400;
    line-height: 30px;
  }

  .article_title-h2 {
    font-size: 1.2em;
    font-weight: 600;
    font-family: "Noto Serif", "sans-serif";
    line-height: 40px;
  }

  .main__article-text {
    font-weight: 400;
    font-size: 0.7em;
    line-height: 1.5rem;
    display: grid;
    grid-template-columns: 0.6fr 2fr 0.6fr;
    grid-auto-flow: row;
    justify-items: center;
    align-content: center;
  }

  .article_button-link {
    font-size: 0.7em;
    font-weight: 500;
    line-height: 1em;
    color: black;
    background-color: white;
    text-decoration: none;
    text-transform: uppercase;
    border: 1px solid #333333;
    margin-top: 1.5em;
    padding: 0.7rem 1.5rem;
    letter-spacing: 0.1em;
  }

  /* ЛУЧШИЕ СОВЕТЫ ПО ВЫБОРУ ПОДАРКОВ */

  .main__gallery_advice {
    background: #f9f9f9;
    display: grid;
    grid-template-rows: minmax(auto-fit, 3em) 2fr minmax(50px, auto-fit);
    grid-template-columns: minmax(auto-fill, 35em);
    justify-content: center;
    height: 80vh;
    margin: 0 1.5em 1em;
  }

  .main__gallery_title {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, minmax(auto, 3em));
    align-content: center;
  }

  .gallery_title-h2 {
    font-size: 1.2em;
    font-family: "Noto Serif", sans-serif;
    text-align: center;
  }

  .gallery_title-h4 {
    font-size: 0.9em;
    font-weight: normal;
    font-style: normal;
    justify-self: center;
    align-self: end;
  }

  .main__gallery_button {
    align-self: center;
    justify-self: center;
    margin: 5rem 0 0 0;
  }

  .gallery_button-a {
    text-decoration: none;
    color: white;
    border: 1px solid white;
    background-color: #333333;
    padding: 10px 15px;
    line-height: 21px;
    letter-spacing: 0.1em;
    vertical-align: center;
    margin: 0 auto;
    font-size: 0.9rem;
    text-transform: uppercase;
    transition: 0s;
  }

  /* PICTURE */

  .main__gallery_items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    grid-auto-flow: row;
    grid-gap: 20px;
  }

  .main_gallery_item-a {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    padding: 100% 0px 0 0px;
    text-align: center;
    display: block;
    text-decoration: none;
    color: white;
    font-size: 0.8rem;
    font-weight: 400;
  }

  .main__gallery_item {
    position: relative;
    padding: 0 0 80% 0;
    transition: none;
  }

  .main__gallery_item {
    position: relative;
    padding: 0 0 90% 0;
  }

  /* МЫ В СОЦ СЕТЯХ */

  .main__social {
    background: #f9f9f9;
    min-height: 100vh;
    display: grid;
    grid-template-columns: minmax(auto, 800px);
    grid-template-rows: minmax(auto-fit, 10px) 1fr;
    justify-content: center;
    margin: 0 1em;
  }

  .main__social_titles {
    display: grid;
    justify-content: center;
    margin: 0 auto;
  }

  .main__social-title {
    font-weight: 400;
    font-size: 1.3rem;
    text-align: center;
    margin: 0 auto;
  }
  .main__social-subtitle {
    font-size: 1.5rem;
    font-weight: 500;
    font-family: "Noto Serif", sans-serif;
    margin: 0 auto;
  }

  /* ЭКСКЛЮЗИВНАЯ РАССЫЛКА */

  .main__mail {
    min-height: 50vh;
    background-image: url(../images/black-background.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: minmax(auto, 1fr) minmax(auto-fill, 2fr);
  }

  .main__mail_title {
    color: white;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: grid;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-rows: repeat(2, minmax(auto, 60px));
  }

  .main__mail_top-title {
    font-weight: 400;
    font-size: 1rem;
    line-height: 20px;
  }

  .main__mail_bot-title {
    font-family: "Noto Serif", sans-serif;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 30px;
    text-align: center;
  }

  .main__mail_send {
    justify-items: center;
    align-items: center;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    display: grid;
    grid-row: 2;
    grid-gap: 0.3rem;
  }

  .main__mail_list {
    display: grid;
    grid-template-rows: 2fr;
    grid-template-columns: 1fr;
    margin-bottom: 15px;
  }

  .mail_item {
    padding: 15px 10px;
  }

  .mail_link {
    text-decoration: none;
    color: white;
    font-size: 1.15rem;
    font-weight: 400;
  }

  .mail_form-box {
    font-weight: 500;
    letter-spacing: 0.1em;
    box-shadow: 0px 0px 0 10px white, 0 0 0 20px black, 0 0 0 21px white;
    background-color: white;
    display: grid;
    grid-template-columns: minmax(4em, auto) minmax(5em, auto);
    grid-auto-rows: auto-fit;
  }

  .mail_form-input {
    margin-right: 6px;
    padding: 10px 0 10px 13px;
    border: 1px solid #d6d6d6;
    min-width: 110px;
    font-family: "Gilroy", sans-serif;
  }

  .mail_form-button {
    padding: 12px 25px;
    background-color: #333333;
    border: none;
    font-family: "Gilroy", sans-serif;
    color: white;
    cursor: pointer;
    transition: 0s;
    text-align: center;
  }

  .footer__category-items {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, minmax(auto, 0.01fr));
    grid-gap: 15px;
    margin: 50px 0;
    color: #333333;
  }

  .footer__item {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 1fr;
  }

  .footer__category-links {
    margin-top: 20px;
    display: grid;
    font-size: 14px;
    font-weight: 400;
    font-family: "Gilroy", sans-serif;
    grid-auto-flow: row;
  }

  .footer-link {
    display: block;
    margin: 5px 0;
    text-decoration: none;
    color: #333333;
  }

  .footer__width {
    display: grid;
    grid-template-columns: minmax(auto, 1000px);
    justify-content: center;
    margin: 0 2em;
  }

  .footer__copy {
    display: grid;
    border-top: 1px solid #333;
    padding: 10px 0 10px 0;
    justify-content: space-between;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    font-size: 0.4rem;
  }

  .footer__copy-link {
    display: block;
    font-size: 11px;
    justify-content: space-between;
    text-decoration: none;
    color: #333333;
  }

  /* /////////////// УБИРАЕМ HOVER /////////// */

  .category_img-capture:not(.nohover) {
    transform: none;
  }

  .main__gallery_item:not(.nohover) {
    transform: none;
  }
  .main_gallery_item-img:not(.nohover) {
    border-radius: 20px;
  }

  .main__title-button:not(.nohover) {
    all: none;
    background: #333;
    border: 1px solid white;
    color: white;
  }

  .product_item:not(.nohover) {
    color: #333;
    background: none;
    transform: none;
    box-shadow: none;
    font-weight: 500;
    box-shadow: 4px 4px 0 1px #f9f9f9, 4px 4px 0 1.7px #d6d6d6;
  }

  .product__category-img:not(.nohover) {
    border-radius: 20px;
  }

  .article_button-link:not(.nohover) {
    background: white;
    color: #333;
    border: 1px solid black;
  }

  .gallery_button-a:not(.nohover) {
    background: #333;
    color: white;
    font-size: 1rem;
    transition: none;
    border: none;
  }

  * {
    transition: 0s;
  }
}

/*///////////------ MEDIA FOR 480-PX--------/////////// */
/*///////////------ MEDIA FOR 480-PX--------/////////// */
/*///////////------ MEDIA FOR 480-PX--------/////////// */

@media (max-width: 30em) {
  /* -------ШАПКА------ */

  .burger-menu {
    display: block;
    position: relative;
    width: 35px;
    height: 35px;
    right: 0;
    top: 10px;
    transition: 1s;
    grid-column: 3/3;
    cursor: pointer;
  }

  .burger-menu::before,
  .burger-menu::after {
    content: " ";
    background-color: white;
    position: absolute;
    width: 100%;
    height: 3px;
    transition: 1s;
    display: block;
  }

  .burger-menu::before {
    top:0px;
  }

  .burger-menu::after {
    top: 25px ;
  }

  .burger-menu > span {
    content: "";
    position: absolute;
    background-color: white;
    left: 0;
    width: 100%;
    height: 3px;
    top:13px;
  }

  .burger-menu.active {
    z-index: 2;
    display: grid;
  }

  .burger-menu.active::after {
    transform: rotate(-45deg);
    top: 15px;
    transition: 0.5s;
  }

  .burger-menu.active::before {
    transform: rotate(45deg);
    top: 15px;
    transition: 0.5s;
  }

  .burger-menu.active span {
    transform: scale(0);
  }

  .header {
    display: grid;
    height: 50px;
    justify-items: center;
    align-items: stretch;
    max-width: 100%;
    grid-template-columns: minmax(auto, 0.3fr) minmax(auto, 1fr) minmax(
        auto,
        0.3fr
      );
  }

  .burger-logo-img img {
    max-width: 100%;
    display: block;
  }

  /* ------------ГЛАВНАЯ------------ */

  .background {
    background-image: url(../images/bgc.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    max-width: 100%;
    max-height: 80vh;
  }

  /* ТИТУЛЬНЫЙ ТЕКСТ И КНОПКА */

  .main__title_subtitle {
    display: grid;
    margin-top: 30vh;
  }

  .main__title-box {
    display: grid;
    grid-template: repeat(2, minmax(50px, auto)) / 1fr;
    justify-items: center;
    align-content: end;
    grid-row-gap: 0.5em;
  }

  .main__title-1page {
    font-family: "Noto Serif", "sans-serif";
    font-size: calc(25px + (34 - 23) * ((100vw - 320px) / (600 - 320)));
    color: white;
  }

  .main__title-button {
    text-decoration: none;
    color: white;
    border: 1px solid white;
    background-color: #333333;
    padding: 1.1em 1.5em;
    line-height: 10px;
    letter-spacing: 0.1em;
    vertical-align: center;
    margin: auto;
    transition: none;
    font-size: calc(13px + (19 - 13) * ((100vw - 320px) / (600 - 320)));
  }

  /* ------------ НАСТОЯЩАЯ КРАСОТА ЗДЕСЬ ---------------- */
  /* ------------ НАСТОЯЩАЯ КРАСОТА ЗДЕСЬ ---------------- */
  /* ------------ НАСТОЯЩАЯ КРАСОТА ЗДЕСЬ ---------------- */

  .main__product {
    max-width: 100%;
    margin: 0 auto;
    padding: 0px;
  }

  .main__product-width {
    display: grid;
    grid-template-columns: minmax(auto-fit, 1fr);
    grid-template-rows: repeat(3, minmax(auto-fit, 1fr));
    margin: 0 1em;
    background: #f9f9f9;
    max-width: 100%;
  }

  .main__product-title {
    display: grid;
    grid-template-rows: minmax(auto, 40px) minmax(auto, 50px);
    grid-gap: 5px;
    margin: 0.7em 0;
  }

  .product_title {
    font-weight: 400;
    font-size: calc(15px + (20 - 15) * ((100vw - 320px) / (480 - 320)));
    text-align: center;
    align-self: end;
  }

  .product_title-sub {
    font-family: "Noto Serif", "sans-serif";
    font-size: calc(17px + (23 - 17) * ((100vw - 320px) / (480 - 320)));
    font-weight: 500;
    text-align: center;
    align-self: center;
  }

  .main__product-choice {
    display: grid;
    grid-template-rows: repeat(2, minmax(auto, 1fr));
    grid-template-columns: repeat(auto-fit, minmax(auto, 0.4fr));
    justify-content: center;
    grid-gap: 17px;
    text-align: center;
    align-items: center;
    margin: 20px 0 20px 0;
  }

  .product_item {
    border: 1px solid #d6d6d6;
    padding: 7px 0;
    box-shadow: 4px 4px 0 1px #f9f9f9, 4px 4px 0 1.7px #d6d6d6;
    text-decoration: none;
    color: black;
    font-family: "Gilroy", sans-serif;
    transition: none;
    font-size: calc(18px + (25 - 18) * ((100vw - 320px) / (480 - 320)));
    transform: none;
  }

  .main__product-category {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(108px, 1fr));
    grid-template-rows: repeat(auto-fit, 1fr);
    margin: 30px 0 60px 0;
    grid-gap: 20px;
  }

  .category_img-capture {
    position: absolute;
    text-align: center;
    z-index: 100;
    width: 100%;
    height: 100%;
    display: block;
    padding: 68% 0 0 0;
    text-decoration: none;
    color: white;
    font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (480 - 320)));
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 500;
    transition: none;
  }

  /*-------------- НАШИ САЛОНЫ В МОСКВЕ-------- */

  .main__background-black {
    background-image: url(../images/black-background.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    min-height: 60vh;
  }

  .article_title-h4 {
    font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (480 - 320)));
    font-weight: 400;
    line-height: 30px;
  }

  .article_title-h2 {
    font-size: calc(17px + (22 - 16) * ((100vw - 320px) / (480 - 320)));
    font-weight: 600;
    font-family: "Noto Serif", "sans-serif";
    line-height: 40px;
  }

  .main__article-text {
    font-weight: 400;
    font-size: calc(12px + (14 - 12) * ((100vw - 320px) / (480 - 320)));
    line-height: calc(16px + (24 - 16) * ((100vw - 320px) / (480 - 320)));
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-flow: row;
    justify-items: stretch;
    align-content: space-around;
    margin: 0 0.7em;
  }

  .article_button-link {
    font-size: calc(12px + (15 - 12) * ((100vw - 320px) / (480 - 320)));
    font-weight: 500;
    line-height: 20px;
    color: black;
    background-color: white;
    text-decoration: none;
    text-transform: uppercase;
    border: 1px solid #333333;
    margin-bottom: 15px;
    padding: 10px calc(15px + (23 - 15) * ((100vw - 320px) / (480 - 320)));
    letter-spacing: 0.1em;
    transition: none;
  }

  /* ///////////////ПОЛЕЗНЫЕ СТАТЬИ /////////// */

  .main__gallery_advice {
    background: #f9f9f9;
    display: grid;
    justify-content: center;
    height: 100%;
    margin: 0 1.5em 1em;
    grid-gap: 0px;
    grid-template-columns: 1fr;
    grid-auto-flow: row;
  }

  .main__gallery_title {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, minmax(auto, 3.5em));
    align-content: center;
    grid-gap: 10px;
  }

  .gallery_title-h2 {
    font-size: calc(17px + (20 - 17) * ((100vw - 320px) / (480 - 320)));
    font-family: "Noto Serif", sans-serif;
    text-align: center;
    align-self: center;
  }

  .gallery_title-h4 {
    font-size: calc(13px + (16 - 13) * ((100vw - 320px) / (480 - 320)));
    font-weight: normal;
    font-style: normal;
    justify-self: center;
    align-self: center;
  }

  .main__gallery_items {
    display: grid;
    margin-top: 1em;
    grid-template-columns: minmax(auto, 220px);
    justify-content: center;
    grid-gap: 20px;
    align-items: start;
  }

  .main__gallery_item {
    position: relative;
    padding: 0 0 100% 0;
    transition: none;
  }

  .main_gallery_item-a {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    padding: 70% 0px 0 0px;
    text-align: center;
    display: block;
    text-decoration: none;
    color: white;
    line-height: 20px;
    letter-spacing: 1px;
    font-size: calc(16px + (19 - 16) * ((100vw - 320px) / (480 - 320)));
    font-weight: 400;
  }

  .main_gallery_item-img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    object-fit: cover;
    z-index: -1;
    border-radius: 20px;
    transition: none;
    display: block;
  }

  .main__gallery_button {
    align-self: end;
    justify-self: center;
    margin: 1.5rem 0;
  }

  .gallery_button-a {
    text-decoration: none;
    color: white;
    border: 1px solid white;
    background-color: #333333;
    padding: 10px 15px;
    line-height: 21px;
    letter-spacing: 0.1em;
    vertical-align: center;
    margin-top: 3em;
    font-size: calc(13px + (17 - 13) * ((100vw - 320px) / (480 - 320)));
    text-transform: uppercase;
    transition: 0s;
  }

  /* /////////////// МЫ В СОЦ СЕТЯХ /////////// */

  .main__social {
    background: #f9f9f9;
    min-height: 80vh;
    display: grid;
    grid-template-columns: minmax(auto, 1fr);
    grid-template-rows: minmax(auto-fit, 0.5em) 1fr;
    justify-content: center;
    margin: 0 1em;
  }

  .main__social_titles {
    display: grid;
    grid-template-rows: repeat(2, minmax(auto, 5em));
    justify-content: center;
    margin: 0 auto;
    align-items: center;
    align-content: center;
  }

  .main__social-title {
    font-weight: 400;
    font-size: calc(16px + (19 - 16) * ((100vw - 320px) / (480 - 320)));
    text-align: center;
    margin: 0 auto;
  }
  .main__social-subtitle {
    font-size: calc(18px + (25 - 18) * ((100vw - 320px) / (480 - 320)));
    font-weight: 500;
    font-family: "Noto Serif", sans-serif;
    margin: 0 auto;
  }

  .main__social_gallery {
    display: grid;
    grid-template-rows: repeat(auto, minmax(auto, 210px));
    grid-template-columns: repeat(4, minmax(auto, 250px));
    margin-bottom: 60px;
  }

  /* -----------------РАССЫЛКА------------------ */

  .main__mail {
    min-height: 50vh;
    background-image: url(../images/black-background.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: minmax(auto-fit, 0.2fr) minmax(auto-fill, 1fr);
  }

  .main__mail_title {
    color: white;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: grid;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-rows: repeat(2, minmax(auto, 50px));
    grid-gap: 10px;
  }

  .main__mail_top-title {
    font-weight: 400;
    font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (480 - 320)));
    line-height: 20px;
  }

  .main__mail_bot-title {
    font-family: "Noto Serif", sans-serif;
    font-weight: 600;
    font-size: calc(18px + (25 - 18) * ((100vw - 320px) / (480 - 320)));
    line-height: 30px;
  }

  .main__mail_send {
    justify-items: center;
    align-items: center;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    display: grid;
  }

  .main__mail_list {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
  }

  .mail_item {
    padding: calc(12px + (20 - 12) * ((100vw - 320px) / (480 - 320)));
  }

  .mail_link {
    text-decoration: none;
    color: white;
    font-size: calc(14px + (20 - 14) * ((100vw - 320px) / (480 - 320)));
    font-weight: 400;
  }

  .mail_form-box {
    font-weight: 500;
    letter-spacing: 0.1em;
    box-shadow: 0px 0px 0 10px white, 0 0 0 20px black, 0 0 0 21px white;
    background-color: white;
    display: grid;
    grid-template-columns: minmax(3em, auto) minmax(4em, auto);
    grid-auto-rows: auto-fit;
  }

  .mail_form-input {
    margin-right: 4px;
    padding: 10px 0 10px 13px;
    border: 1px solid #d6d6d6;
    min-width: 110px;
    font-family: "Gilroy", sans-serif;
  }

  .mail_form-button {
    padding: 12px 20px;
    background-color: #333333;
    border: none;
    font-family: "Gilroy", sans-serif;
    color: white;
    cursor: pointer;
    transition: 0s;
    text-align: center;
  }
  /* /////////////// УБИРАЕМ HOVER /////////// */

  .category_img-capture:not(.nohover) {
    transform: none;
    font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (480 - 320)));
  }

  .main__gallery_item:not(.nohover) {
    transform: none;
  }
  .main_gallery_item-img:not(.nohover) {
    border-radius: 20px;
  }

  .main__title-button:not(.nohover) {
    all: none;
    background: #333;
    border: 1px solid white;
    color: white;
  }

  .product_item:not(.nohover) {
    color: #333;
    background: none;
    transform: none;
    box-shadow: none;
    box-shadow: 4px 4px 0 1px #f9f9f9, 4px 4px 0 1.7px #d6d6d6;
    font-size: calc(12px + (16 - 12) * ((100vw - 320px) / (480 - 320)));
  }

  .product__category-img:not(.nohover) {
    border-radius: 20px;
  }

  .article_button-link:not(.nohover) {
    background: white;
    color: #333;
    border: 1px solid black;
  }

  .gallery_button-a:not(.nohover) {
    background: #333;
    color: white;
    font-size: calc(13px + (17 - 13) * ((100vw - 320px) / (480 - 320)));
    transition: none;
    border: none;
  }

  * {
    transition: none;
    transform: none;
  }
}
